/* To give equal height for images in a card */
.card-img-top {
    width: 100%;
    height: 30vw;
    object-fit: cover;
}

/* Form label */
form label {
    font-size: 18px;
    font-weight: bold;
}
